.MenuSection__root__xxDa.__wab_instance {
  object-fit: cover;
  position: relative;
  color: var(--token-0m05gj3N2eiL);
  font-family: var(--token-KTY_WjyPLaCB);
  font-size: var(--token-c6_OyUg6gWzv);
  line-height: var(--token-RrsTQzwYD6Gx);
}
.MenuSection__freeBox__qaPud {
  display: flex;
  flex-direction: row;
  padding: var(--token-GXoVliIWq2sa) var(--token-s8aSZg9_lN-7);
}
.MenuSection__slotTargetHeader__tFprL {
  font-weight: 600;
}
