.Button__root__cilx0.__wab_instance {
  position: relative;
  background: var(--token-3hJejzQjhI5V);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-GXoVliIWq2sa);
  font-family: var(--token-KTY_WjyPLaCB);
  font-size: var(--token-c6_OyUg6gWzv);
  line-height: var(--token-RrsTQzwYD6Gx);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-kC939s-i084Z);
  padding: 0rem;
  border-width: 0px;
}
.Button__root__cilx0[data-focus-visible][data-focus-visible].__wab_instance {
  outline-style: solid;
  outline-width: var(--token-MdgXwPos-MDU);
  outline-offset: 1px;
  outline-color: var(--token-3hJejzQjhI5V);
}
.Button__root__cilx0[data-disabled][data-disabled].__wab_instance {
  cursor: not-allowed;
}
.Button__rootcolor_neutral__cilx0RaJ0T.__wab_instance {
  background: var(--token-BzK6a_qQJzQy);
}
.Button__rootcolor_muted__cilx0J0HLs.__wab_instance {
  background: var(--token-ZQNUPU8bAVAM);
}
.Button__rootcolor_success__cilx0A24Md.__wab_instance {
  background: var(--token-qW16DOW5HEXt);
}
.Button__rootcolor_warning__cilx0Yqdrn.__wab_instance {
  background: var(--token-hdjDr_DuLyuM);
}
.Button__rootcolor_errorDestructive__cilx0AIiCx.__wab_instance {
  background: var(--token-meHC1Pbz_1yf);
}
.Button__roottype_soft__cilx093O2G.__wab_instance {
  background: none;
}
.Button__roottype_bordered__cilx0ZReCv.__wab_instance {
  background: none;
}
.Button__rootsize_extraSmall__cilx0Tncmp.__wab_instance {
  line-height: var(--token-UL07pmh-I2ZW);
  font-size: var(--token-oIMLwdyfj_Qm);
  column-gap: var(--token-MdgXwPos-MDU);
  row-gap: 0px;
  border-radius: var(--token-Sw5oQ-n44CSr);
}
.Button__rootsize_small__cilx0Hj5ZR.__wab_instance {
  font-size: var(--token-oIMLwdyfj_Qm);
  line-height: var(--token-UL07pmh-I2ZW);
  column-gap: var(--token-Sw5oQ-n44CSr);
  row-gap: 0px;
  border-radius: var(--token-Sw5oQ-n44CSr);
}
.Button__rootsize_large__cilx0KowZy.__wab_instance {
  font-size: var(--token-zUEjKKt5ByxE);
  line-height: var(--token-dijxYHOXjvTu);
}
.Button__rootsize_extraLarge__cilx0TUpIm.__wab_instance {
  font-size: var(--token-zUEjKKt5ByxE);
  line-height: var(--token-dijxYHOXjvTu);
}
.Button__rootroundedFull__cilx0U5Ej8.__wab_instance {
  border-radius: 99px;
}
.Button__rootflatSide_top__cilx0JHyG.__wab_instance {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.Button__rootflatSide_right__cilx07XsKi.__wab_instance {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.Button__rootflatSide_bottom__cilx0QX2Aa.__wab_instance {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.Button__rootflatSide_left__cilx0JmSh6.__wab_instance {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.Button__softBackground__jfFSv {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-bMZ1fiupQj7u);
  border-radius: var(--token-kC939s-i084Z);
}
.Button__softBackgroundcolor_neutral__jfFSvraJ0T {
  background: var(--token-go1qUNYjBjlW);
}
.Button__softBackgroundcolor_muted__jfFSvj0HLs {
  background: var(--token-kEXtVWOe61Ti);
}
.Button__softBackgroundcolor_success__jfFSva24Md {
  background: var(--token-81zfk8r3IGP2);
}
.Button__softBackgroundcolor_warning__jfFSvYqdrn {
  background: var(--token-0CC6AjnqL7Kn);
}
.Button__softBackgroundcolor_errorDestructive__jfFSvAIiCx {
  background: var(--token-AdcBDWVcQ40x);
}
.Button__softBackgroundtype_soft__jfFSv93O2G {
  display: block;
}
.Button__roottype_bordered__cilx0ZReCv[data-hovered]
  .Button__softBackgroundtype_bordered__jfFSvzReCv {
  display: block;
}
.Button__roottype_bordered__cilx0ZReCv[data-pressed]
  .Button__softBackgroundtype_bordered__jfFSvzReCv {
  display: block;
}
.Button__softBackgroundroundedFull__jfFSvu5Ej8 {
  border-radius: 99px;
}
.Button__border__nnbKs {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-kC939s-i084Z);
  border: 0px solid var(--token-FfKyKXAhJeUX);
}
.Button__bordercolor_neutral__nnbKSraJ0T {
  border-color: var(--token-5EWmdUaOoCg8);
}
.Button__bordercolor_muted__nnbKSj0HLs {
  border-color: var(--token-QenNx7VXrWmu);
}
.Button__bordercolor_success__nnbKSa24Md {
  border-color: var(--token-kfgK3Rr4v0WC);
}
.Button__bordercolor_warning__nnbKsYqdrn {
  border-color: var(--token-lN59YcPG7896);
}
.Button__bordercolor_errorDestructive__nnbKsaIiCx {
  border-color: var(--token-xjBjcP5noNSN);
}
.Button__bordertype_bordered__nnbKSzReCv {
  background: none;
  display: block;
  border-width: 1px;
}
.Button__borderroundedFull__nnbKSu5Ej8 {
  border-radius: 99px;
}
.Button__borderflatSide_top__nnbKsjHyG {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.Button__borderflatSide_right__nnbKs7XsKi {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.Button__borderflatSide_bottom__nnbKSqX2Aa {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.Button__borderflatSide_left__nnbKsjmSh6 {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.Button__interactionEffect___8Icih {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-kC939s-i084Z);
}
.Button__root__cilx0[data-hovered] .Button__interactionEffect___8Icih {
  background: var(--token-0LQLTb1Qyqty);
}
.Button__root__cilx0[data-disabled] .Button__interactionEffect___8Icih {
  background: var(--token-HHP2Wy4fEsf9);
}
.Button__root__cilx0[data-pressed] .Button__interactionEffect___8Icih {
  background: var(--token-mGun9GTc405B);
}
.Button__roottype_bordered__cilx0ZReCv[data-hovered]
  .Button__interactionEffecttype_bordered___8IcihzReCv {
  display: none;
}
.Button__interactionEffectroundedFull___8Icihu5Ej8 {
  border-radius: 99px;
}
.Button__freeBox___8D8Ap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-kC939s-i084Z);
  min-width: 0;
  min-height: 0;
  padding: var(--token-kC939s-i084Z) var(--token-s8aSZg9_lN-7);
}
.Button__freeBoxsize_extraSmall___8D8Aptncmp {
  padding: var(--token-Sw5oQ-n44CSr) var(--token-kC939s-i084Z);
}
.Button__freeBoxsize_small___8D8Aphj5ZR {
  padding: var(--token-kC939s-i084Z) var(--token-GXoVliIWq2sa);
}
.Button__freeBoxsize_large___8D8ApKowZy {
  padding-top: var(--token-Sw5oQ-n44CSr);
  padding-bottom: var(--token-Sw5oQ-n44CSr);
}
.Button__freeBoxsize_extraLarge___8D8AptUpIm {
  padding-left: var(--token-6nS2v1GnJAaY);
  padding-right: var(--token-6nS2v1GnJAaY);
}
.Button__freeBoxroundedFull___8D8Apu5Ej8 {
  padding-right: var(--token-6nS2v1GnJAaY);
  padding-left: var(--token-6nS2v1GnJAaY);
}
.Button__freeBox__v6I6S {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.Button__freeBoxiconStart__v6I6S8ZWj5 {
  display: flex;
}
.Button__slotTargetStart__dCyTt {
  color: var(--token-xM8vorIolGKr);
}
.Button__slotTargetStartcolor_neutral__dCyTTraJ0T {
  color: var(--token-LeSa1aW5yStm);
}
.Button__slotTargetStartcolor_muted__dCyTTj0HLs {
  color: var(--token-EIG9emrog1B3);
}
.Button__slotTargetStartcolor_success__dCyTTa24Md {
  color: var(--token-QdOoSukZnGU0);
}
.Button__slotTargetStartcolor_warning__dCyTtYqdrn {
  color: var(--token-hVkgW_QoU3f0);
}
.Button__slotTargetStartcolor_errorDestructive__dCyTtaIiCx {
  color: var(--token-kxxDXU96Gimv);
}
.Button__slotTargetStarttype_soft__dCyTt93O2G {
  color: var(--token-D0-jNa7kUQTm);
}
.Button__slotTargetStarttype_bordered__dCyTTzReCv {
  color: var(--token-D0-jNa7kUQTm);
}
.Button__slotTargetStartsize_extraSmall__dCyTTtncmp {
  font-size: var(--token-oIMLwdyfj_Qm);
}
.Button__slotTargetStartsize_small__dCyTThj5ZR {
  font-size: var(--token-oIMLwdyfj_Qm);
}
.Button__slotTargetStartsize_large__dCyTtKowZy {
  font-size: var(--token-zUEjKKt5ByxE);
}
.Button__slotTargetStartsize_extraLarge__dCyTTtUpIm {
  font-size: var(--token-zUEjKKt5ByxE);
}
.Button__slotTargetStarttype_soft_color_neutral__dCyTt93O2GRaJ0T {
  color: var(--token-Zuil0H8p_tbQ);
}
.Button__slotTargetStartcolor_neutral_type_bordered__dCyTTraJ0TZReCv {
  color: var(--token-Zuil0H8p_tbQ);
}
.Button__slotTargetStarttype_soft_color_muted__dCyTt93O2GJ0HLs {
  color: var(--token-eEliPdBq-oPt);
}
.Button__slotTargetStartcolor_muted_type_bordered__dCyTTj0HLsZReCv {
  color: var(--token-eEliPdBq-oPt);
}
.Button__slotTargetStarttype_soft_color_success__dCyTt93O2GA24Md {
  color: var(--token-PVaNSYS_QrAq);
}
.Button__slotTargetStartcolor_success_type_bordered__dCyTTa24MdZReCv {
  color: var(--token-PVaNSYS_QrAq);
}
.Button__slotTargetStarttype_soft_color_warning__dCyTt93O2GYqdrn {
  color: var(--token-VB2XyN3QsqRr);
}
.Button__slotTargetStartcolor_warning_type_bordered__dCyTtYqdrnZReCv {
  color: var(--token-VB2XyN3QsqRr);
}
.Button__slotTargetStarttype_soft_color_errorDestructive__dCyTt93O2GAIiCx {
  color: var(--token-1QhiwTuH9cKF);
}
.Button__slotTargetStartcolor_errorDestructive_type_bordered__dCyTtaIiCxZReCv {
  color: var(--token-1QhiwTuH9cKF);
}
.Button__svg__nNPe {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.Button__slotTargetLabel__nxdCe {
  color: var(--token-xM8vorIolGKr);
}
.Button__slotTargetLabelcolor_neutral__nxdCEraJ0T {
  color: var(--token-LeSa1aW5yStm);
}
.Button__slotTargetLabelcolor_muted__nxdCEj0HLs {
  color: var(--token-EIG9emrog1B3);
}
.Button__slotTargetLabelcolor_success__nxdCEa24Md {
  color: var(--token-QdOoSukZnGU0);
}
.Button__slotTargetLabelcolor_warning__nxdCeYqdrn {
  color: var(--token-hVkgW_QoU3f0);
}
.Button__slotTargetLabelcolor_errorDestructive__nxdCeaIiCx {
  color: var(--token-kxxDXU96Gimv);
}
.Button__slotTargetLabeltype_soft__nxdCe93O2G {
  color: var(--token-D0-jNa7kUQTm);
}
.Button__slotTargetLabeltype_bordered__nxdCEzReCv {
  color: var(--token-D0-jNa7kUQTm);
}
.Button__slotTargetLabeltype_soft_color_neutral__nxdCe93O2GRaJ0T {
  color: var(--token-Zuil0H8p_tbQ);
}
.Button__slotTargetLabeltype_soft_color_muted__nxdCe93O2GJ0HLs {
  color: var(--token-eEliPdBq-oPt);
}
.Button__slotTargetLabelcolor_neutral_type_bordered__nxdCEraJ0TZReCv {
  color: var(--token-Zuil0H8p_tbQ);
}
.Button__slotTargetLabeltype_soft_color_success__nxdCe93O2GA24Md {
  color: var(--token-PVaNSYS_QrAq);
}
.Button__slotTargetLabelcolor_muted_type_bordered__nxdCEj0HLsZReCv {
  color: var(--token-eEliPdBq-oPt);
}
.Button__slotTargetLabeltype_soft_color_warning__nxdCe93O2GYqdrn {
  color: var(--token-VB2XyN3QsqRr);
}
.Button__slotTargetLabelcolor_success_type_bordered__nxdCEa24MdZReCv {
  color: var(--token-PVaNSYS_QrAq);
}
.Button__slotTargetLabeltype_soft_color_errorDestructive__nxdCe93O2GAIiCx {
  color: var(--token-1QhiwTuH9cKF);
}
.Button__slotTargetLabelcolor_warning_type_bordered__nxdCeYqdrnZReCv {
  color: var(--token-VB2XyN3QsqRr);
}
.Button__slotTargetLabelcolor_errorDestructive_type_bordered__nxdCeaIiCxZReCv {
  color: var(--token-1QhiwTuH9cKF);
}
.Button__text__ujVtg {
  white-space: pre;
}
.Button__freeBox__te8I2 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.Button__freeBoxiconEnd__te8I2HmwSk {
  display: flex;
}
.Button__slotTargetEnd__cQbC {
  color: var(--token-xM8vorIolGKr);
}
.Button__slotTargetEndcolor_neutral__cQbCraJ0T {
  color: var(--token-LeSa1aW5yStm);
}
.Button__slotTargetEndcolor_muted__cQbCj0HLs {
  color: var(--token-EIG9emrog1B3);
}
.Button__slotTargetEndcolor_success__cQbCa24Md {
  color: var(--token-QdOoSukZnGU0);
}
.Button__slotTargetEndcolor_warning__cQbCYqdrn {
  color: var(--token-hVkgW_QoU3f0);
}
.Button__slotTargetEndcolor_errorDestructive__cQbCaIiCx {
  color: var(--token-kxxDXU96Gimv);
}
.Button__slotTargetEndtype_soft__cQbC93O2G {
  color: var(--token-D0-jNa7kUQTm);
}
.Button__slotTargetEndtype_bordered__cQbCzReCv {
  color: var(--token-D0-jNa7kUQTm);
}
.Button__slotTargetEndsize_extraSmall__cQbCtncmp {
  font-size: var(--token-oIMLwdyfj_Qm);
}
.Button__slotTargetEndsize_small__cQbChj5ZR {
  font-size: var(--token-oIMLwdyfj_Qm);
}
.Button__slotTargetEndsize_large__cQbCKowZy {
  font-size: var(--token-zUEjKKt5ByxE);
}
.Button__slotTargetEndsize_extraLarge__cQbCtUpIm {
  font-size: var(--token-zUEjKKt5ByxE);
}
.Button__slotTargetEndtype_soft_color_neutral__cQbC93O2GRaJ0T {
  color: var(--token-Zuil0H8p_tbQ);
}
.Button__slotTargetEndcolor_neutral_type_bordered__cQbCraJ0TZReCv {
  color: var(--token-Zuil0H8p_tbQ);
}
.Button__slotTargetEndtype_soft_color_muted__cQbC93O2GJ0HLs {
  color: var(--token-eEliPdBq-oPt);
}
.Button__slotTargetEndcolor_muted_type_bordered__cQbCj0HLsZReCv {
  color: var(--token-eEliPdBq-oPt);
}
.Button__slotTargetEndtype_soft_color_success__cQbC93O2GA24Md {
  color: var(--token-PVaNSYS_QrAq);
}
.Button__slotTargetEndcolor_success_type_bordered__cQbCa24MdZReCv {
  color: var(--token-PVaNSYS_QrAq);
}
.Button__slotTargetEndtype_soft_color_warning__cQbC93O2GYqdrn {
  color: var(--token-VB2XyN3QsqRr);
}
.Button__slotTargetEndcolor_warning_type_bordered__cQbCYqdrnZReCv {
  color: var(--token-VB2XyN3QsqRr);
}
.Button__slotTargetEndtype_soft_color_errorDestructive__cQbC93O2GAIiCx {
  color: var(--token-1QhiwTuH9cKF);
}
.Button__slotTargetEndcolor_errorDestructive_type_bordered__cQbCaIiCxZReCv {
  color: var(--token-1QhiwTuH9cKF);
}
.Button__svg__w3L46 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
