.Description__root___7OseW.__wab_instance {
  object-fit: cover;
  box-sizing: border-box;
  color: var(--token-brNq_yrM5Sr9);
  font-family: var(--token-KTY_WjyPLaCB);
  font-size: var(--token-c6_OyUg6gWzv);
  line-height: var(--token-RrsTQzwYD6Gx);
  position: relative;
}
.Description__freeBox__meP3 {
  position: relative;
  display: flex;
}
