.RadioGroup__ariaRadioGroup__sJe7W.__wab_instance {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-Sw5oQ-n44CSr);
  min-width: 0;
}
.RadioGroup__ariaRadioGroup__sJe7W[data-disabled][data-disabled].__wab_instance {
  opacity: 0.5;
}
.RadioGroup__freeBox__vEgwv {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-Sw5oQ-n44CSr);
}
.RadioGroup__radio___6OGFc.__wab_instance.__wab_instance {
  position: relative;
}
.RadioGroup__radio__hYqeA.__wab_instance.__wab_instance {
  position: relative;
}
.RadioGroup__radio__h6PfN.__wab_instance.__wab_instance {
  position: relative;
}
.RadioGroup__description__c1Mbm.__wab_instance.__wab_instance {
  position: relative;
}
